---
import type { InputProps } from './types';
type Props = InputProps;

const { id, label, slotProps = { label: {} }, placeholder = '', ...rest } = Astro.props;
---

<div>
  <label for={id} class="block mb-1 text-sm text-gray-700" {...slotProps.label}
    >{label}</label
  >

  <input
    id={id}
    placeholder={placeholder || ''}
    class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-300"
    {...rest}
  />
</div>
